.main{ 
    margin-left: 8vw;
    height: fit-content;  
    padding-top:30px;
    padding-left: 60px;
}

.username{
    position: fixed;
    top: 10px;
    right: 0px;
    font-size: 20px;
    width: fit-content;
}
.username>input{
    font-size: inherit;
}

.username>label{
    font-size: inherit;
}

.maintextarea{ 
    width: 40vw;
    height: 10vh;
     font-size: 30px;
}
.createthread{  
    margin-top: 4vw; 
    width: fit-content; 
} 
