 
 @import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

body{
  padding: 0px;
  margin: 0px; 
  background-color:rgb(60,60,60); 
  color:white;

}
